<div class="r-container">
  <div class="r-container__left">
    <p-select
      [options]="numbers"
      [optionLabel]="'number'"
      placeholder="Select a number"
      (onChange)="onNumberChange($event.value)"
    ></p-select>
    <p-select
      [options]="textures"
      [optionLabel]="'texture'"
      placeholder="Select a texture"
      (onChange)="onTextureChange($event.value)"
    ></p-select>
    <p-select
      [options]="colors"
      [optionLabel]="'color'"
      placeholder="Select a color"
      (onChange)="onColorChange($event.value)"
    ></p-select>
  </div>
  <div class="r-container__right">
    <div class="content">
      @if (imageResource.hasValue()) {
        @for (image of imageResource.value(); track $index) {
          <img class="p-select p-focus" [src]="image"> 
        }
      } @else {
        {{ "No hay Valores" }}
      }
    </div>
  </div>
</div>
